parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Enums\\NotificationType\:\:getLabel\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Enums/NotificationType.php

		-
			message: '#^Method App\\Enums\\UserStatusEnum\:\:getColor\(\) never returns array\{50\: string, 100\: string, 200\: string, 300\: string, 400\: string, 500\: string, 600\: string, 700\: string, \.\.\.\} so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Enums/UserStatusEnum.php

		-
			message: '#^Method App\\Enums\\UserStatusEnum\:\:getColor\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Enums/UserStatusEnum.php

		-
			message: '#^Method App\\Enums\\UserStatusEnum\:\:getIcon\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Enums/UserStatusEnum.php

		-
			message: '#^Method App\\Enums\\UserStatusEnum\:\:getLabel\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Enums/UserStatusEnum.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$email\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/Auth/SocialAuthController.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Controllers/Auth/SocialAuthController.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/SocialAuthController.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Relation ''favorites'' is not found in App\\Models\\Message model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/MessageController.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$unreadNotifications\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/NotificationController.php

		-
			message: '#^Call to an undefined method App\\Http\\Requests\\Auth\\RegisterRequest\:\:throttleKey\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Requests/Auth/RegisterRequest.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageReplayResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageReplayResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageReplayResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageReplayResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageReplayResource\:\:\$text\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageReplayResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageReplayResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageReplayResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageReplayResource\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageReplayResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageResource\:\:\$is_anon\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageResource\:\:\$message\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageResource\:\:\$sender\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageResource\:\:\$sender_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\MessageResource\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\MessageResource\:\:favorites\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\MessageResource\:\:likes\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\MessageResource\:\:replays\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Resources/MessageResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$data\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$notifiable_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$notifiable_type\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$read_at\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$type\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\NotificationResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/NotificationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$bio\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$email_verified_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$followers\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$image_url\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$username\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: app/Models/Message.php

		-
			message: '#^Method App\\Models\\Message\:\:user\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User, \$this\(App\\Models\\Message\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Message.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: app/Models/MessageLike.php

		-
			message: '#^Method App\\Models\\MessageLike\:\:user\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User, \$this\(App\\Models\\MessageLike\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/MessageLike.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: app/Models/MessageReplay.php

		-
			message: '#^Method App\\Models\\MessageReplay\:\:user\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User, \$this\(App\\Models\\MessageReplay\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/MessageReplay.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Message\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\HasMany\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: app/Models/User.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\UserFollow\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\HasMany\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 2
			path: app/Models/User.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\UserSocialAuth\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\HasMany\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:followers\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\UserFollow\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\UserFollow, \$this\(App\\Models\\User\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:followings\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\UserFollow\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\UserFollow, \$this\(App\\Models\\User\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:messages\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Message\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Message, \$this\(App\\Models\\User\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:socialConnections\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\UserSocialAuth\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\UserSocialAuth, \$this\(App\\Models\\User\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Property App\\Models\\User\:\:\$status \(string\) does not accept App\\Enums\\UserStatusEnum\:\:DEACTIVATED\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Models/User.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: app/Models/UserSocialAuth.php

		-
			message: '#^Method App\\Models\\UserSocialAuth\:\:user\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User, \$this\(App\\Models\\UserSocialAuth\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/UserSocialAuth.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 2
			path: app/Notifications/NewFollowNotification.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\Models\\User\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Notifications/NewFollowNotification.php
